@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

:root {
  /* fonts */
  --font-primary: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  font-family: var(--font-primary);
  overflow-x: hidden;
  background-color: #0d111c;
}

button {
  cursor: pointer;
}

::selection {
  background-color: rgba(236, 72, 153, 0.8);
  color: #fff;
}
